<div class="login">
    <div class="row w-100">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form autocomplete="off" #form ='ngForm' (ngSubmit)= "SaveForm(form.value)">
                <div class="loginform" >
                    <h1>{{formType === 'login' ? 'Login Here..' : 'Register Here..'}}</h1>
                    <ng-template [ngIf] = "formType != 'login' ">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            <input type="text" name="fname" #fname='ngModel' ngModel required class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <span *ngIf="!fname.valid && fname.touched" class="text-danger">First Name Required !</span>
                          <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            <input type="text" name="lanme" #lname='ngModel' ngModel class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                    </ng-template>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="email" name="username" email  #email='ngModel' ngModel required class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <span *ngIf="!email.valid && email.touched" class="text-danger">Email Required !</span>
                      <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                        <input [type]="inputType" name="password" #password='ngModel' ngModel required class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1">
                        <span class="input-group-text" id="basic-addon1">
                            <i (click)="changeType()" style="cursor: pointer;" class="fa fa-{{ inputType == 'password' ? 'eye' : 'eye-slash' }}"></i>
                        </span>
                      </div>
                      <span *ngIf="!password.valid && password.touched" class="text-danger">Password Required !</span>
                      <input  type="submit" [disabled] = "!form.valid" class="btn btn-success w-100 " [value]="formType == 'login' ? 'Login' :'Register' ">
                      <ng-template [ngIf]= "formType == 'login'">
                          <a class="mt-1" [routerLink]="['/register']" routerLinkActive="router-link-active"  id="noaccount">No account? Register Here...</a>
                      </ng-template>
                      <ng-template [ngIf]= "formType != 'login' ">
                        <a class="mt-1" [routerLink]="['/']" routerLinkActive="router-link-active"  id="noaccount">Already account? Login Here...</a>
                    </ng-template>

                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>